.cst-footer{
    position: relative;
    margin-top: -50px;
    /* negative value of footer height */
    height: 50px;
    clear: both;
   /*Custom styling*/
}
.cst-box{
    height:20px;

  padding: 10px;
  box-shadow: 2px 2px 15px 2px rgb(230, 215, 215);
}