.cst-navbar{
    background: linear-gradient(to right, #ecaa17 40%, #bb9238 60%);
  
}
.cst-linkstyle{
    text-decoration: none;
    color:white;
}
.cst-linkstyle:hover{
    color:white;
}
.nav-link:hover{
    border-bottom:red;
}


@media screen and (min-width: 992px) {
    .myaccountdropdown {
      display: none;
    }
  }

@media screen and (max-width: 992px) {
    .myaccountbutton {
      display: none;
    }
  }
